* {
    margin: 0px;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    text-align: center;
    margin: 10px;
    color: rgb(85, 85, 85);
}

button {
    cursor: pointer;
}

#score {
    margin: 0px 10px 10px 10px;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    border: 2px solid black;
    background-color: rgb(228, 228, 221);
    width: 60vmin;
    height: 60vmin;
}

#keys-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        ".    up   ."
        "left down right";
    grid-gap: 10px;
    padding: 1rem;
}

#keys-container button {
    text-align: center;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0.5rem;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#keys-container button:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* Styles for each button based on grid areas */
#keys-container #up-btn {
    grid-area: up;
}

#keys-container #left-btn {
    grid-area: left;
}

#keys-container #down-btn {
    grid-area: down;
}

#keys-container #right-btn {
    grid-area: right;
}

.food {
    font-size: 18px;
}

.snake {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 25%;
    position: relative;
}

.eyes {
    font-size: 15.5px;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    padding: 10px;
    margin-top: auto;
    color: #fff;
}

footer a {
    color: #a1a1a1;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 860px) {
    .eyes {
        font-size: 14px; /* Adjust the size of the eyes for smaller screens */
    }
    .food {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .eyes {
        font-size: 10px; /* Adjust the size of the eyes for smaller screens */
    }
    .food {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    #game-grid {
        width: 95vmin;
        height: 95vmin;
    }
    .eyes {
        font-size: 10px;
    }
    .food {
        font-size: 12px;
    }
}
